.top-buffer { margin-top:20px; }
.bottom-buffer{
    margin-bottom: 40px;
}
.col-buffer {
    margin-top:20px;
    margin-bottom: 20px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    margin: auto;
    display: block;
}
.parent{
    position: relative;
}

.imagecontainer:hover .image {
    opacity: 0.3;
}

.imagecontainer:hover .middle {
    opacity: 1;
}

.text {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

body {
    font-family: Lato, sans-serif;
}

.finder{
    background-size: cover;
    padding-top: 10px;
    padding-bottom: 10px;
}

.about{
}
#about{
    padding-bottom: 20px;
}

h4 {
    font-size: 3em;
    color: #000000;
}

.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: #67aeca;
    border: 0;
    padding-top: 14px;
    padding-right: 35px;
    padding-left: 35px;
    padding-bottom: 14px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s;
    border-radius: 40px;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    color: #fff;
    background-color: #6b7a8f;
}

#menu {
    padding: 20px;
    transition: all 0.8s;
}

#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

#menu a.navbar-brand {
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
}

#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    margin: 10px 15px 0 15px;
}

#menu.navbar-default .navbar-nav > li > a:hover {
    color: #67aeca;
}

.on {
    background-color: #5f0f4e !important;
    padding: 0 !important;
    padding: 10px 0 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #6b7a8f !important;
    background-color: transparent;
}

.imageslide {
    position: relative;
    display: inline-block;
    text-align: center;
}

.button-center-img {
    left: 50%;
    top:50%;
    transform: translate(-50%);
    position: absolute;
}

.resizeimg {
    width: 100%;
    height: 725px;
    object-fit: cover;
}
.imagezoomcontainer:hover img,
.imagezoomcontainer:focus img{
    -webkit-transform:scale(1.1); /* Safari and Chrome */
    -moz-transform:scale(1.1); /* Firefox */
    -ms-transform:scale(1.1); /* IE 9 */
    -o-transform:scale(1.1); /* Opera */
    transform:scale(1.1);
}
.imagezoomcontainer img{
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
    position: relative;
    right:-50%;
    cursor: pointer;
}

.imagezoomcontainer{
    position:relative;
    float: right;
    right: 50%;
}

.imagezoom{
    width: 100%;
    height: 100%;
    overflow: hidden;

}

.roundicon {
    margin-top: -62.5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    border-radius: 50%;
    background: #67aeca;
    text-align: center;
    width: 125px;
    height: 125px;
    position: relative;
    color:white;
}

.centericon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.round {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    margin-left: 50%;
    transform: translate(-50%);
}

.paddingquoat {
    padding-top: 20px;
}

#main{
    background: url(../images/free-from-section-cover.png) center center no-repeat;
    background-size: cover;
    text-align: center;

}
.questionback{
    padding-bottom: 50px;
}

.fontsize{
    font-size: 20px;
}
#ergebnis{
    padding-top: 50px;
}

.col-border{
    padding-bottom: 20px;
}

.dotfilled{
    height: 25px;
    width: 25px;
    background-color: #5f0f4e;
    border-radius: 50%;
    border: #67aeca 2px solid;
    display: inline-block;
    cursor: pointer;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    border: #67aeca 2px solid;
    display: inline-block;
}

.dotcurrent{
    height: 25px;
    width: 25px;
    background-color: rgba(95, 15, 78, 0.37);
    border-radius: 50%;
    border: #67aeca 2px solid;
    display: inline-block;
}

.progressbar{
    padding-bottom: 30px;
}