.top-buffer { margin-top:20px; }
.bottom-buffer{
    margin-bottom: 40px;
}
.col-buffer {
    margin-top:20px;
    margin-bottom: 20px;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    margin: auto;
    display: block;
}
.parent{
    position: relative;
}

.imagecontainer:hover .image {
    opacity: 0.3;
}

.imagecontainer:hover .middle {
    opacity: 1;
}

.text {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

body {
    font-family: Lato, sans-serif;
}

#about{
    padding-bottom: 20px;
}

.btn-custom {
     text-transform: uppercase;
     color: #fff;
     background-color: #67aeca;
     border: 0;
     padding-top: 14px;
     padding-right: 35px;
     padding-left: 35px;
     padding-bottom: 14px;
     font-size: 28px;
     font-weight: 500;
     letter-spacing: 1px;
     transition: all 0.5s;
     border-radius: 40px;
 }

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    color: #fff;
    background-color: #6b7a8f;
}
.bottom{
    position: absolute;
    bottom: 0;
    right: 0;
}
.btn-buy {
    text-transform: uppercase;
    color: #fff;
    background-color: #67aeca;
    border: 0;
    padding-top: 10px;
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 10px;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: all 0.5s;
    border-radius: 40px;
}

.btn-buy:hover, .btn-buy:focus, .btn-buy.focus, .btn-buy:active, .btn-buy.active {
    color: #fff;
    background-color: #6b7a8f;
}

.btn-buyalternative {
    text-transform: uppercase;
    color: #fff;
    background-color: #67aeca;
    border: 0;
    padding-top: 5px;
    padding-right: 13px;
    padding-left: 13px;
    padding-bottom: 5px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all 0.5s;
    border-radius: 40px;
    float: right;
}

.btn-buyalternative:hover, .btn-buyalternative:focus, .btn-buyalternative.focus, .btn-buyalternative:active, .btn-buyalternative.active {
    color: #fff;
    background-color: #6b7a8f;
}

.alternativetxt{
    font-size: 16px;
    padding-top: 5px;
}

#menu {
    padding: 20px;
    transition: all 0.8s;
}

#menu.navbar-default {
    background-color: rgba(248, 248, 248, 0);
    border-color: rgba(231, 231, 231, 0);
}

#menu a.navbar-brand {
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
}

#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    margin: 10px 15px 0 15px;
}

#menu.navbar-default .navbar-nav > li > a:hover {
    color: #67aeca;
}

.on {
    background-color: #5f0f4e !important;
    padding: 0 !important;
    padding: 10px 0 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #67aeca !important;
    background-color: transparent;
}

.imageslide {
    position: relative;
    display: inline-block;
    text-align: center;
}

.button-center-img {
    left: 50%;
    top:50%;
    transform: translate(-50%);
    position: absolute;
}

.resizeimg {
    width: 100%;
    height: 725px;
    object-fit: cover;
}

.imagezoomcontainer{
    overflow: hidden;
}

.imagezoom:hover,
.imagezoom:focus{
    -webkit-transform:scale(1.025); /* Safari and Chrome */
    -moz-transform:scale(1.025); /* Firefox */
    -ms-transform:scale(1.025); /* IE 9 */
    -o-transform:scale(1.025); /* Opera */
    transform:scale(1.025);
}
.imagezoom{
    position: relative;
    -webkit-transition: all 1s ease; /* Safari and Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -o-transition: all 1s ease; /* IE 9 */
    -ms-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}

.imagezoom:after{
    position: absolute;
    content:"";
    top:0;
    left:0;
    width:100%;
    height:100%;
    opacity:0;
}

.imagezoom:hover:after  {
    opacity: .5;
    background-color: rgba(103, 174, 202, 0.45);
}

.imagezoom i{
    display: none;

}

.checked{
    background-color: rgba(103, 174, 202, 0.78);
    opacity: .7;
}
.checked i{
    display: block;
}

.roundicon {
    margin-top: -62.5px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    border-radius: 50%;
    background: #67aeca;
    text-align: center;
    width: 125px;
    height: 125px;
    position: relative;
    color:white;
}

.centericon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.round {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    margin-left: 50%;
    transform: translate(-50%);
}

.paddingquoat {
    padding-top: 20px;
}

#main{
    background: url(../images/free-from-section-cover.png) center center no-repeat;
    background-size: cover;
}

.fontsize{
    font-size: 20px;
}
#ergebnis{
    padding-top: 50px;
}

.col-border{
    padding-bottom: 20px;
}

.dotfilled{
    height: 25px;
    width: 25px;
    background-color: #5f0f4e;
    border-radius: 50%;
    border: #67aeca 2px solid;
    display: inline-block;
    cursor: pointer;
}

.dot{
    height: 25px;
    width: 25px;
    background-color: #ffffff;
    border-radius: 50%;
    border: #67aeca 2px solid;
    display: inline-block;
}

.dotcurrent{
    height: 25px;
    width: 25px;
    background-color: rgba(95, 15, 78, 0.37);
    border-radius: 50%;
    border: #67aeca 2px solid;
    display: inline-block;
}

.progressbar{
    padding-bottom: 30px;
}

.stars{

}

.alternativeimg{
    height: 175px;
}
.wrapper{
    position: relative;
    height: 150px;
}
.progressbarAlternative{
    width: 125px;
    height: 125px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.footeralternative{
    margin-top: 20px;
    padding: 5px 5px;
    background-color: #fafafa;
}

.alternative{
    padding-top: 20px;
    border: 1px solid rgba(174, 174, 174, 0.15);

}

/*Wizard*/

.wizard {
    margin: 10px auto;
}

.wizard .nav-tabs {
    position: relative;
    margin: 20px auto;
    margin-bottom: 0;
}

.wizard > div.wizard-inner {
    position: relative;
}

.connecting-line {
    height: 2px;
    background: #e0e0e0;
    position: absolute;
    width: 80%;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 50%;
    z-index: 1;
}

.wizard .nav-tabs > li.active > a, .wizard .nav-tabs > li.active > a:hover, .wizard .nav-tabs > li.active > a:focus {
    color: #555555;
    cursor: default;
}

span.round-tab {
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    border-radius: 100px;
    background: #fff;
    border: 2px solid #e0e0e0;
    z-index: 2;
    position: absolute;
    left: 0;
    text-align: center;
    font-size: 25px;
}
span.round-tab i{
    color:#555555;
}
.wizard li.active span.round-tab {
    background: #fff;
    border: 2px solid #5f0f4e;

}
.wizard li.active span.round-tab i{
    color: #5f0f4e;
}

span.round-tab:hover {
    color: #333;
    border: 2px solid #333;
}

.wizard .nav-tabs > li {
    width: 20%;
}

.wizard li:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 0;
    margin: 0 auto;
    bottom: 0px;
    border: 5px solid transparent;
    border-bottom-color: #5f0f4e;
    transition: 0.1s ease-in-out;
}

.wizard li.active:after {
    content: " ";
    position: absolute;
    left: 46%;
    opacity: 1;
    margin: 0 auto;
    bottom: 0px;
    border: 10px solid transparent;
    border-bottom-color: #5f0f4e;
}

.wizard .nav-tabs > li a {
    width: 70px;
    height: 70px;
    margin: 20px auto;
    border-radius: 100%;
    padding: 0;
}
.wizard .nav-tabs {
    border-bottom: transparent;
}

.wizard .nav-tabs > li a:hover {
    background: transparent;
}

.wizard .tab-pane {
    position: relative;
}

.wizard h3 {
    margin-top: 0;
}

@media( max-width : 585px ) {

    .wizard {
        width: 90%;
        height: auto !important;
    }

    span.round-tab {
        font-size: 16px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard .nav-tabs > li a {
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    .wizard li.active:after {
        content: " ";
        position: absolute;
        left: 35%;
    }
}

.wizard li.done span.round-tab {
    background: #fff;
    border: 2px solid #67aeca;

}
.wizard li.done span.round-tab i{
    color: #67aeca;
}
.btn-primary{
    background-color: #67aeca;
    border: 1px solid rgba(174, 174, 174, 0.15);
}
.s8{
    border: 1px solid rgba(174, 174, 174, 0.15);
    padding-bottom: 20px;
}

/* IMAGES QUESTION */
#Q1A{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 1 - Option 1 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q1B{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 1 - Option 2 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q1C{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 1 - Option 3 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q2A{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 2 - Option 1 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q2B{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 2 - Option 2 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q2C{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 2 - Option 3 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q3A{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 3 - Option 1 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q3B{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 3 - Option 2 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q3C{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 3 - Option 3 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q4A{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 4 - Option 1 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q4B{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 4 - Option 2 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}
#Q4C{
    color: #fff;
    background-size: cover;
    background: url("../images/FragenMini/Frage 4 - Option 3 mini.jpg") no-repeat center center;
    height: 400px;
    width: 100%;
}

.green{
    color: #74ca9d;
}