.btn-circle {
    display: block;
    height: 100px;
    width: 200px;
    text-align: center;
    border-radius: 50%;
    background-color: #1976d2;
}

.masthead {
    margin-bottom: 2rem;
}

.masthead-brand {
    margin-bottom: 0;
}

.nav-masthead .nav-link {
    padding: .25rem 0;
    font-weight: 700;
    color: rgba(0,0,0,.5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
    border-bottom-color: rgba(0,0,0,.25);
}

.nav-masthead .nav-link + .nav-link {
    margin-left: 1rem;
}

.nav-masthead .active {
    color: #ffffff;
    border-bottom-color: #fff;
}

@media (min-width: 48em) {
    .masthead-brand {
        float: left;
    }
    .nav-masthead {
        float: right;
    }
}

/* Padding for spacing */
.inner {
    padding-bottom: 2rem;
    padding-top: 2rem;
}

.top-buffer { margin-top:20px; }

.col-buffer {
    margin-top:20px;
    margin-bottom: 20px;
}

.col-question-buffer {
    margin-top:20px;
    margin-bottom: 20px;
}

.primary-color {
    background-color: #1976d2;
    color: #ffffff;
}

.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.imagecontainer:hover .image {
    opacity: 0.3;
}

.imagecontainer:hover .middle {
    opacity: 1;
}

.text {
    font-family: 'Lato', sans-serif;
    color: white;
    font-size: 16px;
    padding: 16px 32px;
}

body {
    font-family: Lato, sans-serif;
}
.finder{
    background: #444 url(../images/lb.jpg) center center no-repeat fixed;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

.about{
    background: #444 url(../images/lb.jpg) center center no-repeat fixed;
    background-size: cover;
    padding-top: 60px;
    padding-bottom: 60px;
}

h4 {
    font-size: 3em;
    color: #000000;
}

.btn-custom {
    text-transform: uppercase;
    color: #fff;
    background-color: #63a4ff;
    border: 0;
    padding: 14px 20px;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 0.5px;
    border-radius: 0;
    transition: all 0.5s;
}

.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
    color: #fff;
    background-color: #b4b4b4;
}

#intro{
    padding-bottom: 75px;
}

#menu {
    padding: 20px;
    transition: all 0.8s;
}

#menu.navbar-default {
    background-color: #004ba0;
    border-color: #0c5460;
}

#menu a.navbar-brand {
    font-size: 36px;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 1px;
}

#menu.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 500;
    font-size: 15px;
    padding: 5px 0;
    border: 2px solid transparent;
    letter-spacing: 0.5px;
    margin: 10px 15px 0 15px;
}

#menu.navbar-default .navbar-nav > li > a:hover {
    color: #bcbcbc;
}

.on {
    background-color: #262626 !important;
    padding: 0 !important;
    padding: 10px 0 !important;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #5182de !important;
    background-color: transparent;
}

.navbar-toggle {
    border-radius: 0;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #5182de;
    border-color: #5182de;
}

.navbar-default .navbar-toggle:hover > .icon-bar {
    background-color: #FFF;
}

.navbar-default .navbar-toggle .icon-bar {
    height: 3px;
    background-color: #cccccc;
}

.imageslide {
    position: relative;
    display: inline-block;
    text-align: center;
}

.button-center-img {
    left: 50%;
    top:50%;
    transform: translate(-50%);
    position: absolute;
}

.resizeimg {
    width: 100%;
    height: 600px;
}

.optionimg{
    width: 100%;
    height: 400px;
}

.roundicon {
    margin-top: -100px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    border-radius: 50%;
    background: #1976d2;
    text-align: center;
    width: 200px;
    height: 200px;
    position: relative;
    color:white;
    padding-bottom: 100px;
}

.centericon {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
}

.round {
    border-radius: 50%;
    height: 175px;
    width: 175px;
    margin-left: 50%;
    transform: translate(-50%);
}

.paddingquoat {
    padding-top: 20px;
}

#main{
    padding-bottom: 45px;
}

.fontsize{
    font-size: 20px;
}